*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}
.main-section{
    background-color: #1f2937;
    padding: 0 4rem;
    width: 100%;
    color: #fff;
}
.headlogo{
    padding-top: 1rem;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.links{
    justify-content: center;
    width: 40%;

}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    list-style: none;
    color:#E5E7EB


}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.text-head{
    display: flex;
    flex-direction:row;
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
}
.text{
    width: 50%;
}
.text h1{
    font-size: 48px;
    color:f9faf8;font-weight:bolder;
}
button{
    padding:5px 20px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    border: none;
}
.gray{
    align-items: center;
    display: flex;
    background-color: gray;
    width: 50%;
    justify-content: center;
}
.random{
    background-color: #f9faf8;
    width: 100%;
    padding: 2rem 4rem;

}
.information{
 display: flex;
 justify-content: center;
 width: 90%;
 margin:0 auto ;
}
.information h1{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}
.set{
    justify-content: space-around;
    border: 5px solid skyblue;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 5px;
}
.setofbox{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center;
    padding: 1rem;
}
.blue{
    height: 150px;
    /* width: 50%; */
    border: 2px solid blue;
    border-radius: 5px;
}
.grayback{
    width: 100%;
    background-color:#E5E7EB ;
    padding: 2rem;
}
.quote{
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-family: light italic;
    color: #1f2937;
}
.quote h5{
    margin-left: 15rem;
}
.callaction{
    width: 100%;
   padding: 2rem 4rem;


}
.action{
    width: 90%;
   margin: 0 auto; 
   padding: 1rem 4rem;
   display: flex;
   flex-direction: row;
   background-color: #3882f6;
}
.button{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.button button{
    border: 2px solid white;
}
footer{
    background-color: #1f2937;
    color: #ffffff;
    display:flex ;
    justify-content: center;
    padding: 1rem;
}
@media screen and (max-width:700px) {
    .headlogo{
        padding-top: 2rem;
    }
  .text-head{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
 
.random {
    display: flex;
    flex-direction: column;
}
.setofbox{
display: flex;
flex-direction: column;
}
.queto, .action{
    display: flex;
    flex-direction: column;
}

}